{
  "openapi": "3.1.0",
  "info": {
    "title": "OJFlare · Public snapshot API",
    "version": "2.2.0",
    "description": "Read-only JSON hosted on GitHub Pages, schemaVersion=2. AtCoder, Codeforces, QOJ, and Nowcoder are enabled. Luogu is temporarily disabled, without requests, exports, or statistical contribution. Only contests with actual submissions are included. Total solved is the union of problem IDs in accepted and undatedSolved; the latter is currently empty. Nowcoder covers public coding practice only, with daily incremental collection and full checks every seven days, without guaranteed in-contest completeness. QOJ synchronizes with an authorized session. The public interface has no authentication, query filtering, pagination, or writes. HTTP 200 does not establish source freshness. This contract describes the current deployment; use the matching commit's contract for older snapshots.",
    "contact": {
      "name": "OJFlare repository",
      "url": "https://github.com/xw7qwq/ojflare"
    }
  },
  "externalDocs": {
    "description": "Fields, usage examples, upstream collection, and failure handling",
    "url": "https://github.com/xw7qwq/ojflare/blob/main/docs/API.md"
  },
  "servers": [
    {
      "url": "https://ojflare.lucius7.dev",
      "description": "OJFlare production (GitHub Pages)"
    },
    {
      "url": "http://127.0.0.1:4173",
      "description": "Local npm run dev"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Dashboard",
      "description": "Public dashboard snapshot"
    }
  ],
  "paths": {
    "/data/dashboard.json": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "getDashboard",
        "summary": "Read Lucius7's complete dashboard snapshot",
        "description": "Returns the complete JSON; clients filter dates, platforms, and contests. GitHub Pages serves the response and manages caching. Upstream errors appear in sources, and older data may be returned.",
        "responses": {
          "200": {
            "description": "Snapshot retrieved successfully; also inspect each platform's error, warnings, and lastSuccess.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "404": {
            "description": "Static resource not found. The hosting service supplies the response without a guaranteed JSON error structure."
          },
          "default": {
            "description": "The hosting service supplies other HTTP errors. This project defines no common error body."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Platform": {
        "type": "string",
        "enum": [
          "atcoder",
          "codeforces",
          "qoj",
          "nowcoder"
        ],
        "description": "The four currently enabled platforms. Luogu is temporarily disabled; Nowcoder covers public coding practice only."
      },
      "ProblemId": {
        "type": "string",
        "description": "Unique problem ID with a platform prefix. QOJ uses qoj:{problemId}; special CF problemsets use codeforces:problemset:{problemsetName}:{index}. Nowcoder uses nowcoder:{problemId}, corresponding to public /acm/problem/ IDs.",
        "examples": [
          "atcoder:abc001_1",
          "codeforces:1:A",
          "qoj:1",
          "nowcoder:321116"
        ]
      },
      "ContestId": {
        "type": "string",
        "description": "Unique contest ID with a platform prefix, in a separate set from problem IDs.",
        "examples": [
          "atcoder:abc001",
          "codeforces:1",
          "qoj:1"
        ]
      },
      "Profile": {
        "type": "object",
        "description": "Platform profile. AtCoder / Codeforces provide current and peak ratings. Nowcoder provides only the current rating, with null peak and rank. QOJ rating, peak, rank, and rating update time are all null.",
        "required": [
          "handle",
          "url",
          "rating",
          "maxRating",
          "rank",
          "lastSuccess"
        ],
        "properties": {
          "handle": {
            "type": "string",
            "description": "Platform username.",
            "examples": [
              "Lucius7"
            ]
          },
          "url": {
            "type": "string",
            "description": "Platform profile URL.",
            "format": "uri"
          },
          "rating": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Current rating; null if unknown or unrated."
          },
          "maxRating": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Peak rating; null if unknown or unrated."
          },
          "rank": {
            "type": [
              "string",
              "null"
            ],
            "description": "Currently Algorithm for AtCoder; official rank for Codeforces."
          },
          "lastSuccess": {
            "type": [
              "string",
              "null"
            ],
            "description": "Independent last successful rating collection time; may precede Source.lastSuccess.",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "Source": {
        "type": "object",
        "description": "Synchronization state for one platform. HTTP 200 can still return an old snapshot.",
        "required": [
          "lastSuccess",
          "profile",
          "warnings",
          "submissionCount",
          "error",
          "coverage",
          "collectionMethod"
        ],
        "properties": {
          "lastSuccess": {
            "type": [
              "string",
              "null"
            ],
            "description": "Last successful snapshot time. Manual imports use the original capturedAt, which is not an AC time. Null when not connected.",
            "format": "date-time"
          },
          "profile": {
            "$ref": "#/components/schemas/Profile"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Human-readable optional-data notices, not fixed error codes."
          },
          "submissionCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "History submissions deduplicated by submission ID, including failures and repeats. Null when not connected, not zero."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "This run's core synchronization error text; null after success or offline rebuilding. Nowcoder retains the request's failure state when reusing the daily cache. Interpret with lastSuccess, coverage, and collectionMethod."
          },
          "coverage": {
            "type": "string",
            "enum": [
              "submission_history",
              "solved_only"
            ],
            "description": "submission_history provides individual history within collected coverage, without guaranteeing complete private or in-contest records. solved_only provides only a solved list without AC times. solved_only remains for older snapshots; Luogu is not currently exported."
          },
          "collectionMethod": {
            "type": "string",
            "enum": [
              "http",
              "authenticated_http",
              "browser_import"
            ],
            "description": "How the current successful snapshot was collected. browser_import means manual import, not scheduled refresh. An unconnected source indicates the expected method."
          },
          "reportedCounts": {
            "$ref": "#/components/schemas/ReportedCounts"
          },
          "status": {
            "type": "string",
            "enum": [
              "needs_auth",
              "needs_import",
              "error",
              "needs_sync"
            ],
            "description": "Optional state for a source without a successful snapshot, such as awaiting authorization/import or a failed first attempt. Errors with an existing snapshot appear in error."
          },
          "message": {
            "type": "string",
            "description": "Optional explanation of an unconnected state."
          },
          "dataScope": {
            "type": "string",
            "enum": [
              "practice_coding"
            ],
            "description": "Optional. Nowcoder covers public coding practice only, without guaranteed in-contest submissions or account-wide first ACs."
          }
        },
        "additionalProperties": true
      },
      "Problem": {
        "type": "object",
        "description": "Cataloged problems, including unattempted ones. Array length is not a solved count.",
        "required": [
          "id",
          "platform",
          "contestId",
          "index",
          "name",
          "url",
          "difficulty"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ProblemId"
          },
          "platform": {
            "$ref": "#/components/schemas/Platform"
          },
          "contestId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Primary contest association in the catalog, using the ContestId format. Special problemsets may use null; non-null IDs are not guaranteed to appear in contests."
          },
          "index": {
            "type": "string",
            "description": "Problem label in the primary catalog.",
            "examples": [
              "A",
              "D1"
            ]
          },
          "name": {
            "type": "string",
            "description": "Problem name; may fall back to its ID when missing."
          },
          "url": {
            "type": "string",
            "description": "Problem detail URL; use this value directly.",
            "format": "uri"
          },
          "difficulty": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Converted AtCoder difficulty or CF rating; null for QOJ / Nowcoder. Zero is valid."
          },
          "difficultyLabel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Difficulty-group text from historical Luogu snapshots, not currently produced. Retained for compatibility, not a numeric rating."
          }
        },
        "additionalProperties": true
      },
      "Contest": {
        "type": "object",
        "description": "Contests and problems have a many-to-many relationship. Only contests with actual submissions are exported on every platform, with hasSubmissions always true. Solving a shared problem elsewhere is not evidence of a submission in this contest. Nowcoder provides no contests; Luogu is disabled.",
        "required": [
          "id",
          "platform",
          "name",
          "kind",
          "startEpoch",
          "url",
          "problems",
          "catalogComplete",
          "hasSubmissions"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ContestId"
          },
          "platform": {
            "type": "string",
            "enum": [
              "atcoder",
              "codeforces",
              "qoj"
            ],
            "description": "Platforms currently providing contest catalogs. Luogu and Nowcoder provide no contest data."
          },
          "name": {
            "type": "string",
            "description": "Contest name."
          },
          "kind": {
            "type": "string",
            "description": "Display category, not a closed enum.",
            "examples": [
              "ABC",
              "ADT",
              "Div. 2",
              "Educational",
              "Gym"
            ]
          },
          "startEpoch": {
            "type": "integer",
            "description": "Unix seconds; zero means an unknown start time."
          },
          "url": {
            "type": "string",
            "description": "Contest detail URL.",
            "format": "uri"
          },
          "problems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemId"
            },
            "minItems": 1,
            "uniqueItems": true,
            "description": "Contest problem IDs referencing Dashboard.problems, ordered by their labels in this contest."
          },
          "problemIndices": {
            "type": "object",
            "description": "Optional mapping from problem IDs to labels in this contest; fall back to Problem.index when an entry is missing.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "catalogComplete": {
            "type": "boolean",
            "description": "Complete catalog from current sources. If false, display ? as the denominator and do not mark the contest fully completed."
          },
          "hasSubmissions": {
            "type": "boolean",
            "description": "The user has an actual submission in this contest. Always true in current exports; neither acceptance nor official participation is required.",
            "const": true
          },
          "lastSubmissionEpoch": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Optional latest submission time for a QOJ contest in Unix seconds. Can be used for sorting when the start is unknown; it is not the contest start."
          }
        },
        "additionalProperties": true
      },
      "AcceptedSubmission": {
        "type": "object",
        "description": "Accepted submissions with real timestamps, including repeats. AtCoder requires result=AC, Codeforces verdict=OK, QOJ explicit AC/Accepted or a score equal to a positive full score, and Nowcoder public practice the explicit upstream verdict for acceptance. Luogu produces no submission events.",
        "required": [
          "id",
          "platform",
          "problemId",
          "epoch",
          "url"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Source platform submission ID, unique only within the platform. Use (platform, id) across platforms."
          },
          "platform": {
            "type": "string",
            "enum": [
              "atcoder",
              "codeforces",
              "qoj",
              "nowcoder"
            ],
            "description": "Platforms currently providing timestamped submission history. Luogu has no individual submission records."
          },
          "problemId": {
            "$ref": "#/components/schemas/ProblemId"
          },
          "epoch": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Submission time of a currently accepted submission, in Unix seconds; not judging completion or the time of a rejudge to AC. Nowcoder page times have no timezone suffix and are interpreted as UTC+8; first ACs cover only collected public coding practice."
          },
          "url": {
            "type": "string",
            "description": "Detail URL for this submission.",
            "format": "uri"
          }
        },
        "additionalProperties": true
      },
      "Dashboard": {
        "type": "object",
        "description": "Current v2 static snapshot for four enabled platforms, excluding Luogu. Total solved is the union of problem IDs in accepted and undatedSolved. Date statistics use only accepted. undatedSolved is currently empty; there is no precomputed top-level summary.",
        "required": [
          "schemaVersion",
          "handle",
          "timezone",
          "generatedAt",
          "sources",
          "problems",
          "contests",
          "accepted",
          "attempted",
          "undatedSolved"
        ],
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "const": 2,
            "description": "Data version, distinct from the OpenAPI format and document versions."
          },
          "handle": {
            "type": "string",
            "description": "User tracked by this deployment.",
            "const": "Lucius7"
          },
          "timezone": {
            "type": "string",
            "description": "Fixed statistics timezone, UTC+8.",
            "const": "Asia/Taipei"
          },
          "generatedAt": {
            "type": "string",
            "description": "This aggregation's generation time, not a substitute for each Source.lastSuccess.",
            "format": "date-time"
          },
          "sources": {
            "type": "object",
            "description": "Currently AtCoder / Codeforces / QOJ / Nowcoder. Disabled Luogu has no state object. Use the matching commit's contract for older v2 snapshots. lastSuccess=null is not an empty successful history. Unknown additional source fields are allowed.",
            "required": [
              "atcoder",
              "codeforces",
              "qoj",
              "nowcoder"
            ],
            "properties": {
              "atcoder": {
                "$ref": "#/components/schemas/Source"
              },
              "codeforces": {
                "$ref": "#/components/schemas/Source"
              },
              "qoj": {
                "$ref": "#/components/schemas/Source"
              },
              "luogu": false,
              "nowcoder": {
                "$ref": "#/components/schemas/Source"
              }
            },
            "additionalProperties": true
          },
          "problems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Problem"
            },
            "description": "Cataloged problems, including unsolved ones, without guaranteed global ordering across platforms."
          },
          "contests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contest"
            },
            "description": "AtCoder / Codeforces (including Gym) / QOJ contests with actual user submissions, always hasSubmissions=true. Nowcoder provides no contests; Luogu is disabled. The internal full catalog is outside this array."
          },
          "accepted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AcceptedSubmission"
            },
            "description": "Accepted records with real timestamps, including repeats, without global chronological ordering. Use only this array for daily and first-AC statistics; total solved across platforms also includes undatedSolved. Nowcoder covers public coding practice only."
          },
          "attempted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemId"
            },
            "uniqueItems": true,
            "description": "Deduplicated attempted problem IDs, including accepted problems."
          },
          "undatedSolved": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemId"
            },
            "uniqueItems": true,
            "description": "Solved problem IDs with unknown AC times. Currently empty while Luogu is disabled, retained for compatibility. Nonempty values reference problems, are a subset of attempted, and are disjoint from problem IDs in accepted. Do not generate AC events using collection dates."
          }
        },
        "additionalProperties": true
      },
      "ReportedCounts": {
        "type": "object",
        "required": [
          "solved",
          "submitted"
        ],
        "properties": {
          "solved": {
            "type": "integer",
            "minimum": 0,
            "description": "Solved count displayed by the page, checked against the number of unique imported problems."
          },
          "submitted": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Submitted summary displayed by the page. Its definition has not been verified as an individual submission count, so it cannot replace Source.submissionCount."
          }
        },
        "additionalProperties": true,
        "description": "Optional page summaries used by historical Luogu snapshots. Luogu is currently disabled; this field remains for compatibility."
      }
    }
  }
}
