{
  "openapi": "3.1.0",
  "info": {
    "title": "OJFlare · 公开快照 API",
    "version": "2.2.0",
    "description": "GitHub Pages 上的只读 JSON 文件，schemaVersion=2。当前启用 AtCoder、Codeforces、QOJ 与牛客；洛谷暂时停用，不请求、不导出、不计入统计。比赛仅包含有实际提交的记录。累计解题取 accepted 的题目 ID 与 undatedSolved 的并集，后者当前为空数组。牛客仅收录公开编程练习，每日增量、每七天全量核对，不保证比赛内记录完整；QOJ 用已授权登录态定时同步。公开接口无认证、查询筛选、分页或写入；HTTP 200 不代表各源已更新。本契约描述当前部署，旧快照应使用对应提交的契约。",
    "contact": {
      "name": "OJFlare repository",
      "url": "https://github.com/xw7qwq/ojflare"
    }
  },
  "externalDocs": {
    "description": "字段、调用示例、上游获取与失败处理",
    "url": "https://github.com/xw7qwq/ojflare/blob/main/docs/API.md"
  },
  "servers": [
    {
      "url": "https://ojflare.lucius7.dev",
      "description": "OJFlare 生产环境（GitHub Pages）"
    },
    {
      "url": "http://127.0.0.1:4173",
      "description": "本地 npm run dev"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Dashboard",
      "description": "公开看板快照"
    }
  ],
  "paths": {
    "/data/dashboard.json": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "getDashboard",
        "summary": "读取 Lucius7 的完整看板快照",
        "description": "一次返回完整 JSON；日期、平台与比赛筛选由客户端完成。响应由 GitHub Pages 提供，缓存策略由托管服务管理。源站错误放在 sources 中，且可能返回旧数据。",
        "responses": {
          "200": {
            "description": "成功读取快照；应另行检查各平台 error、warnings 和 lastSuccess。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "404": {
            "description": "静态资源未找到；响应由托管服务提供，不保证 JSON 错误结构。"
          },
          "default": {
            "description": "其他 HTTP 错误由托管服务提供，本项目未定义统一错误体。"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Platform": {
        "type": "string",
        "enum": [
          "atcoder",
          "codeforces",
          "qoj",
          "nowcoder"
        ],
        "description": "当前启用的四个平台；洛谷暂时停用。牛客仅为公开编程练习范围。"
      },
      "ProblemId": {
        "type": "string",
        "description": "带平台前缀的题目唯一 ID。QOJ 使用 qoj:{problemId}；CF 特殊题库使用 codeforces:problemset:{problemsetName}:{index}。牛客使用 nowcoder:{problemId}，对应公开 /acm/problem/ 题号。",
        "examples": [
          "atcoder:abc001_1",
          "codeforces:1:A",
          "qoj:1",
          "nowcoder:321116"
        ]
      },
      "ContestId": {
        "type": "string",
        "description": "带平台前缀的比赛唯一 ID，与题目 ID 属于独立集合。",
        "examples": [
          "atcoder:abc001",
          "codeforces:1",
          "qoj:1"
        ]
      },
      "Profile": {
        "type": "object",
        "description": "平台资料。AtCoder / Codeforces 提供当前与最高 Rating；牛客仅提供当前 Rating，最高值与段位为 null；QOJ的 Rating、最高 Rating、段位及 Rating 更新时间均为 null。",
        "required": [
          "handle",
          "url",
          "rating",
          "maxRating",
          "rank",
          "lastSuccess"
        ],
        "properties": {
          "handle": {
            "type": "string",
            "description": "平台用户名。",
            "examples": [
              "Lucius7"
            ]
          },
          "url": {
            "type": "string",
            "description": "平台用户主页。",
            "format": "uri"
          },
          "rating": {
            "type": [
              "integer",
              "null"
            ],
            "description": "当前 Rating；未知或未定级时为 null。"
          },
          "maxRating": {
            "type": [
              "integer",
              "null"
            ],
            "description": "最高 Rating；未知或未定级时为 null。"
          },
          "rank": {
            "type": [
              "string",
              "null"
            ],
            "description": "AtCoder 当前为 Algorithm；Codeforces 为官方段位。"
          },
          "lastSuccess": {
            "type": [
              "string",
              "null"
            ],
            "description": "Rating 独立的最后成功获取时间；可能早于 Source.lastSuccess。",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "Source": {
        "type": "object",
        "description": "单个平台的同步状态。HTTP 200 仍可返回旧快照。",
        "required": [
          "lastSuccess",
          "profile",
          "warnings",
          "submissionCount",
          "error",
          "coverage",
          "collectionMethod"
        ],
        "properties": {
          "lastSuccess": {
            "type": [
              "string",
              "null"
            ],
            "description": "最后成功快照的时间。手动导入为原始 capturedAt，不能作为 AC 时间；尚未连接时为 null。",
            "format": "date-time"
          },
          "profile": {
            "$ref": "#/components/schemas/Profile"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "供人阅读的可选数据提示，不是固定错误码。"
          },
          "submissionCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "按提交 ID 去重的历史提交数，含失败和重复；未连接来源为 null，不能解释成 0。"
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "本次核心同步失败文本；成功或离线重建为 null。牛客当日复用缓存时保留该次请求的失败状态。结合 lastSuccess、coverage 与 collectionMethod 判断。"
          },
          "coverage": {
            "type": "string",
            "enum": [
              "submission_history",
              "solved_only"
            ],
            "description": "submission_history 表示具备已收录范围内的逐条提交历史，不保证所有私有/比赛记录完整；solved_only 表示仅通过题目名单，缺少 AC 时间。 solved_only 仅用于旧快照兼容，当前不输出洛谷。"
          },
          "collectionMethod": {
            "type": "string",
            "enum": [
              "http",
              "authenticated_http",
              "browser_import"
            ],
            "description": "当前成功快照的获取方式。browser_import 是手动导入，不表示定时刷新；待连接来源表示预期获取方式。"
          },
          "reportedCounts": {
            "$ref": "#/components/schemas/ReportedCounts"
          },
          "status": {
            "type": "string",
            "enum": [
              "needs_auth",
              "needs_import",
              "error",
              "needs_sync"
            ],
            "description": "可省略；用于无成功快照时的待授权、待导入或首次失败状态。已有快照的同步错误由 error 表示。"
          },
          "message": {
            "type": "string",
            "description": "可省略；未连接状态的说明。"
          },
          "dataScope": {
            "type": "string",
            "enum": [
              "practice_coding"
            ],
            "description": "可省略。牛客仅收录公开编程练习；不保证涵盖比赛内提交或全账号首次 AC。"
          }
        },
        "additionalProperties": true
      },
      "Problem": {
        "type": "object",
        "description": "收录的题目，包括用户未尝试的题目；不可用数组长度统计已解题数。",
        "required": [
          "id",
          "platform",
          "contestId",
          "index",
          "name",
          "url",
          "difficulty"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ProblemId"
          },
          "platform": {
            "$ref": "#/components/schemas/Platform"
          },
          "contestId": {
            "type": [
              "string",
              "null"
            ],
            "description": "题库主要比赛关联，格式与 ContestId 相同；特殊题库可为 null，也不保证非空值出现在 contests 中。"
          },
          "index": {
            "type": "string",
            "description": "主要题库目录中的题目标号。",
            "examples": [
              "A",
              "D1"
            ]
          },
          "name": {
            "type": "string",
            "description": "题目名称；缺失时可能回退为题号。"
          },
          "url": {
            "type": "string",
            "description": "题目详情链接，请直接使用此值。",
            "format": "uri"
          },
          "difficulty": {
            "type": [
              "integer",
              "null"
            ],
            "description": "AtCoder 换算难度或 CF rating；QOJ / 牛客为 null。0 是有效数值。"
          },
          "difficultyLabel": {
            "type": [
              "string",
              "null"
            ],
            "description": "历史洛谷快照的难度分组文字，当前不产生；字段保留兼容性，不能当作数值 rating。"
          }
        },
        "additionalProperties": true
      },
      "Contest": {
        "type": "object",
        "description": "比赛与题目为多对多关系。所有平台仅导出有实际提交的比赛，hasSubmissions 恒为 true；共享题在其他比赛通过不能作为本场提交证据。牛客不提供比赛，洛谷已停用。",
        "required": [
          "id",
          "platform",
          "name",
          "kind",
          "startEpoch",
          "url",
          "problems",
          "catalogComplete",
          "hasSubmissions"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ContestId"
          },
          "platform": {
            "type": "string",
            "enum": [
              "atcoder",
              "codeforces",
              "qoj"
            ],
            "description": "当前具备比赛目录的平台；洛谷与牛客不提供比赛数据。"
          },
          "name": {
            "type": "string",
            "description": "比赛名称。"
          },
          "kind": {
            "type": "string",
            "description": "展示类别，不使用封闭枚举。",
            "examples": [
              "ABC",
              "ADT",
              "Div. 2",
              "Educational",
              "Gym"
            ]
          },
          "startEpoch": {
            "type": "integer",
            "description": "Unix 秒；0 表示开始时间未知。"
          },
          "url": {
            "type": "string",
            "description": "比赛详情链接。",
            "format": "uri"
          },
          "problems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemId"
            },
            "minItems": 1,
            "uniqueItems": true,
            "description": "比赛题目 ID，引用 Dashboard.problems，按本场题号排列。"
          },
          "problemIndices": {
            "type": "object",
            "description": "可省略。题目 ID 到本场标号的映射；某题没有映射时回退到 Problem.index。",
            "additionalProperties": {
              "type": "string"
            }
          },
          "catalogComplete": {
            "type": "boolean",
            "description": "按当前来源获得完整目录。false 时分母应显示 ?，不能认定整场完成。"
          },
          "hasSubmissions": {
            "type": "boolean",
            "description": "用户实际在此比赛有提交；当前导出恒为 true，无需 AC 或正式参赛。",
            "const": true
          },
          "lastSubmissionEpoch": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "可省略；QOJ 本场最新提交时间（Unix 秒）。开始时间未知时可用于排序，不是开赛时间。"
          }
        },
        "additionalProperties": true
      },
      "AcceptedSubmission": {
        "type": "object",
        "description": "有真实时间的通过提交，含重复。AtCoder result=AC、Codeforces verdict=OK，QOJ 明确 AC/Accepted 或得分等于正的满分，牛客公开编程练习行明确显示“答案正确”；洛谷不产生提交事件。",
        "required": [
          "id",
          "platform",
          "problemId",
          "epoch",
          "url"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "源平台提交 ID，仅平台内唯一；跨平台键使用 (platform, id)。"
          },
          "platform": {
            "type": "string",
            "enum": [
              "atcoder",
              "codeforces",
              "qoj",
              "nowcoder"
            ],
            "description": "当前有时间提交历史的平台；洛谷无逐条提交记录。"
          },
          "problemId": {
            "$ref": "#/components/schemas/ProblemId"
          },
          "epoch": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "当前判定通过的提交的提交时间，Unix 秒；不是评测完成时间或重判转 AC 的时刻。牛客页面无时区后缀，按 UTC+8 解释；首次 AC 仅限已采集的公开编程练习范围。"
          },
          "url": {
            "type": "string",
            "description": "此提交的详情链接。",
            "format": "uri"
          }
        },
        "additionalProperties": true
      },
      "Dashboard": {
        "type": "object",
        "description": "当前启用四个平台的 v2 静态快照，排除洛谷。累计解题为 accepted 的题目 ID 与 undatedSolved 的并集；只从 accepted 统计日期。undatedSolved 当前为空，无顶层预计算 summary。",
        "required": [
          "schemaVersion",
          "handle",
          "timezone",
          "generatedAt",
          "sources",
          "problems",
          "contests",
          "accepted",
          "attempted",
          "undatedSolved"
        ],
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "const": 2,
            "description": "数据版本，与 OpenAPI 格式和文档版本不同。"
          },
          "handle": {
            "type": "string",
            "description": "此部署跟踪的用户。",
            "const": "Lucius7"
          },
          "timezone": {
            "type": "string",
            "description": "用于统计的固定时区，UTC+8。",
            "const": "Asia/Taipei"
          },
          "generatedAt": {
            "type": "string",
            "description": "本次汇总生成时间，不能代替各 Source.lastSuccess。",
            "format": "date-time"
          },
          "sources": {
            "type": "object",
            "description": "当前为 AtCoder / Codeforces / QOJ / 牛客。停用的洛谷不输出状态；较早 v2 快照应使用对应提交的契约。不能把 lastSuccess=null 当作空的成功历史。未知附加来源字段允许存在。",
            "required": [
              "atcoder",
              "codeforces",
              "qoj",
              "nowcoder"
            ],
            "properties": {
              "atcoder": {
                "$ref": "#/components/schemas/Source"
              },
              "codeforces": {
                "$ref": "#/components/schemas/Source"
              },
              "qoj": {
                "$ref": "#/components/schemas/Source"
              },
              "luogu": false,
              "nowcoder": {
                "$ref": "#/components/schemas/Source"
              }
            },
            "additionalProperties": true
          },
          "problems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Problem"
            },
            "description": "收录题库目录，包括未解题目；不承诺跨平台全局排序。"
          },
          "contests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contest"
            },
            "description": "用户实际有提交的 AtCoder / Codeforces（含 Gym）/ QOJ 比赛，hasSubmissions 恒为 true；牛客不提供比赛，洛谷已停用。内部全目录不属于此数组。"
          },
          "accepted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AcceptedSubmission"
            },
            "description": "有真实时间的通过记录，含重复，非全局时间顺序。仅从此数组计算每日 AC/首次 AC；所有平台累计解题还须并入 undatedSolved。牛客仅为公开编程练习记录。"
          },
          "attempted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemId"
            },
            "uniqueItems": true,
            "description": "已尝试题目的去重 ID，包含已 AC 题目。"
          },
          "undatedSolved": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemId"
            },
            "uniqueItems": true,
            "description": "已通过但 AC 时间未知的题目 ID；当前洛谷停用，此数组为空，字段保留兼容性。非空时引用 problems，属于 attempted 子集且与 accepted 的题目集合不相交；不能用采集日期生成 AC 事件。"
          }
        },
        "additionalProperties": true
      },
      "ReportedCounts": {
        "type": "object",
        "required": [
          "solved",
          "submitted"
        ],
        "properties": {
          "solved": {
            "type": "integer",
            "minimum": 0,
            "description": "页面显示的通过题目数，与导入唯一题目数量核对。"
          },
          "submitted": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "页面显示的“提交”摘要。其统计口径未验证为逐条提交数，不能替代 Source.submissionCount。"
          }
        },
        "additionalProperties": true,
        "description": "历史洛谷快照使用的可选页面摘要；洛谷当前停用，此字段保留兼容性。"
      }
    }
  }
}
